$cardMargin:5%;
$spinnerMargin:50%;

.alignText {
 text-align: center
}

.cardsMargin{
    margin: {
        left:$cardMargin !important;
        right:$cardMargin !important;
        top:$cardMargin !important;
    }
}

.navbarStyle {
    z-index: 500;
    position: fixed;
    margin-top: -5%;
    padding: 32px;
    background-color: rgba(0,0,0,0.85);
    width: 100%;
    color: white;
    font-size: 25px;
}

.spinnerIcon {
    font-size: 60px;
    margin: {
        left:50%;
        top:500px; 
    }
}

.spinnerText {
    margin-top: -133px;
    text-align: center;
    display: block;
    font-size: 30px;
}

.modalPosition {
    width: 20% !important;
    margin: {
        top:400px !important;
        left: 42% !important;
    }
}

.modalIconPosition{
    float:right;
    cursor:pointer;
}